:root {
  --white: #fff;
  --bg-gray: #F5F5F7;
  --bg-light-gray: #e5e5ea;
  --bg-dark-gray: #242424;
  --light-beige: #fbf3bf;
  --blue: #2a66ff;
  --red: #b00020;
  --violet: #6246ff;
  --violet-light: #5a43df;
  --violet-lighter: #7a66ff;
}