:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-big-600: 600 30px/15px var(--font-family-primary);
  --font-medium-600: 600 16px/15px var(--font-family-primary);
  --font-small-600: 600 13px/15px var(--font-family-primary);
  --font-medium-small-500: 500 15px/15px var(--font-family-primary);
  --font-medium-500: 500 20px/15px var(--font-family-primary);
  --font-medium-very-small-500: 500 10px/15px var(--font-family-primary);
  --font-small-700: 700 15px/20px var(--font-family-primary);
  --font-tiny-400: 400 15px/20px var(--font-family-primary);
}