.widget {
  width: 100%;
  background-color: var(--bg-light-gray);
  padding: 37px;
  max-width: 760px;
  margin: 0 auto;
}

.topRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.title {
  margin: 0;
  font: var(--font-big-600);
  color: var(--bg-dark-gray);
}

.please {
  font: var(--font-small-600);
  color: var(--bg-dark-gray);
}