.wrap {
  background-color: var(--bg-gray);
  max-width: 1000px;
  border-radius: 20px;
  padding: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 10px 18px;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.bottomRow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 12px;
  justify-content: center;
}