.btn {
  padding: 12px 22px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.25);

  background: linear-gradient(var(--violet-lighter), var(--violet-light));
  color: var(--white);
  font: var(--font-small-700);

  box-shadow:
          inset 0 1px 0 rgba(255,255,255,0.25),
          0 6px 10px rgba(0,0,0,0.25);

  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.03);
}

.btn:active {
  transform: translateY(1px);
  box-shadow:
          inset 0 1px 0 rgba(255,255,255,0.18),
          0 4px 8px rgba(0,0,0,0.22);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}